@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@500&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-image: url('./bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}

.hi {
    font-family: 'Bodoni Moda', serif;
    display: flex;
    font-size: 30px;
    text-align: center;
    grid-area: welcome;
    background-color: rgba(9, 88, 58, 0.8);
    align-items: center;
    justify-content: center;
    width: 500px;
    justify-self: center;
    color: springgreen;
}

h1{
    text-align: center;
    background-color: none;
}

.nav ul li {
    display: inline-flex;
    padding: 0px 10px;
}

.nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

span {
    font-family: 'Fraunces', serif;
    color: gold;
    font-size: 80px;
    padding: 10px;
}

.nav ul li a :hover {
    background-color: black;
    transition: background-color 0.5s ease-in 100ms;
}
.nav {
    display: flex;
    height: 40px;
    background-color: lightskyblue;
    align-items: center;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 500px auto 700px;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: "header header header"
                         "art im im"
                         "links links links";
}

.home .container {
    display: grid;
    grid-template-columns: 500px auto 700px;
    grid-template-rows: 100px 100px 300px 100px;
    grid-template-areas: "welcome welcome welcome"
                         "header header header"
                         "art im im"
                         "links links links";
}
.links a {
    padding: 10px 5px;
    background-color: rgba(236, 222, 222, 0.6);
    display: flex;
    transition: background-color 500ms ease-in-out 200ms, color 500ms ease-in-out 200ms;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #7bb8d0 ;
    color: black;
}

header {
    font-family: 'Potta One', cursive;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    grid-area: header;
    padding-top: 10px;
    z-index: 5;
    background-color: rgba(80, 107, 116, 0.4);
    color: rgb(110, 20, 230);
    height: 100px;
}

.links {
    display: flex;
    height: 60px;
    padding:20px 20px 20px 20px;
    align-items: flex-start;
    clear: both;
    justify-content: space-evenly;
    grid-area: links;
    font-size: 20px;
}

.art {
    display: flex;
    color: white;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: auto;
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 550;
    padding: 10px;
    grid-area: art;
    margin-right: 100px;
    clear: both;
    margin-top: 20px;
    background-color: rgba(9, 88, 58, 0.8)
}

.home .art {
    height: 340px;
}

.im {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    grid-area: im;
    flex-direction: column;
    margin-top: 20px;
}

.home .pic {
    display: flex;
    height: 380px;
    width: auto;
    align-self: center;
}

.pic {
    border-radius: 10px;
    border: 1px black solid;
    height: auto;
    width: 600px;
}

.pics {
    height: auto;
    width: 600px;
}

.end {
     font-size: 16px;
}

.center {
    justify-content: flex-start;
    align-items: center;
}

.im p {
    text-align: center;
}

#home {
    font-size: 20px;
    height: auto;
}

@media only screen and (max-width:800px) {
    
    body {
        width: 780px;
    }

    .home .container {
        grid-template-columns: 350px 410px;
        grid-template-rows: auto;
        grid-template-areas: "welcome welcome"
                             "header header"
                             "art im"
                             "links links";
    }

    .container {
        grid-template-columns: 350px 410px;
        grid-template-rows: auto;
        grid-template-areas: "header header"
                             "art im"
                             "links links";
    }

    header h2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        align-items: flex-end;
        font-size: 24px;
        margin: auto;
    }

    header {
        margin-left: 20px;
    }
    
    .links {
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        z-index: 7;
        font-size: 18px;
    }

    .links a {
        margin-top: 20px;
    }

    .art{
        display: flex;
        width:300px;
        height: auto;
    }

    .im {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pic {
        width: 380px;
    }

    .pics {
        width: 380px;
    }

    .home .pic {
        width: 350px;
        height: auto;
    }

    #home {
        font-size: 20px;
        height: auto;
        margin: auto;
    }
    
    .home {
        height: auto;
    }
}
@media only screen and (max-width: 600px) {
    
    body {
        width: 580px;
    }

    .home .container {
        grid-template-areas: "welcome"
                             "header"
                             "art" 
                             "im"
                             "links";
        grid-template-columns: 500px;
        grid-template-rows: 100px 100px auto 400px 100px;
        margin-left: 50px;
    }

    .container {
        grid-template-areas: "header"
                             "art" 
                             "im"
                             "links";
        grid-template-columns: 500px;
        grid-template-rows: 100px auto 400px 100px;
        margin-left: 50px;
    }

    .hi {
        display: flex;
        align-self: center;
        font-size: 20px;
        width: 100%;
    }

    header {
        display: flex;
        width: 90%;
        text-align: center;
        padding-bottom: 10px;
        align-self: flex-end;
        justify-content: center;
        margin: auto;   
        font-size: 18px;
        height: 80px;
    }

    span {
        font-size: 40px;
    }

    .links {
        display: flex;
        text-align: center;
        align-items: flex-start;
        justify-content: space-evenly;
        margin: auto;
        flex-direction: column;
        padding: 0px;
        margin-top: 0;
    }

    .art {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
    margin: auto;
    margin-top: 10px;
    }
    
    .home .art {
        width: 500px;
    }

    .pic {
        display: flex;
        width: 350px;
        justify-content: flex-start;
        align-self: center;
    }

    .pics {
        width: 350px;
    }

    .im{
        display: flex;
        margin: auto;
        align-items: center;
    }
    
    .center {
        text-align: center;
    } 
    
    .home {
        height: auto;
    }
    
}

@media only screen and (max-width:380px) {
    body {
        width: 360px;
    }

    .home .container {
        grid-template-columns: 350px;
        grid-template-rows: auto;
        grid-template-areas: "welcome"
                             "header"
                             "art"
                             "im"
                             "links";
        width: fit-content;                     
        margin-left:0;
    }

    .container {
        grid-template-columns: 350px;
        grid-template-rows: auto;
        grid-template-areas: "header"
                             "art"
                             "im"
                             "links";
        width: fit-content;                     
        margin-left:0;
    }

    .nav {
        width: 100%;
        left: 0;
    }

    header {
        font-size: 14px;
        height: auto;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    span {
        font-size: 20px;

    }

    .hi {
        margin-top: 20px;
        width: 100%;
    }

    .art {
        display: flex;
        justify-content: flex-start;
        margin: auto;
        width: 300px;
        height: 800px;
        margin-bottom: 10px;
    }

    .home header {
        margin-top: 0px;
    }

    .pic { 
        margin: auto;
        width: 300px;
    }

    .pics {
        margin: auto;
        width: 300px;
    }

    .links{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 12px;
    }

    .links a {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #home {
        font-size: 20px;
        height: auto;
    }
    .home {
        height: auto;
    }
    
    .home .pic {
        width: 300px;
        height: auto;
    }

    .home .art {
        width: 300px;
    }
}